## HYPOTHESIS TESTING

In [18]:
import numpy as np
import pandas as pd

from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind


%matplotlib inline

4000 USD

Sub-Test 2: Good cut + color E vs. Good cut + color F

In [2]:
 

diamonds_df = pd.read_csv('./data/diamonds_train.csv')

In [3]:
diamonds_df.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [4]:
diamonds_df.shape

(40455, 10)

##  Hypothesis testing challenge 1

In [5]:
test_results = ttest_1samp(diamonds_df['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

print(test_results.pvalue) # scipy is p_value of both sides

p_value_good = test_results.pvalue /2

print(p_value_good)

-3.604902369125729

True

0.00031264532833074845
0.00015632266416537423

In [6]:
mu = 4000
mu_hat = diamonds_df['price'].mean()
n = diamonds_df.shape[0]
std_hat = diamonds_df['price'].std()

In [7]:
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
t_test

# t_test is the same as scipy

-3.604902369125729

In [8]:
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(p_value * 2)

0.00031264532833074845

## Sub-test 2

In [9]:
sub_test_1 = diamonds_df[(diamonds_df['cut'] == 'Good') & (diamonds_df['color'] == 'E')]

sub_test_1.head()

     carat   cut color clarity  depth  table  price     x     y     z
150   1.01  Good     E     SI1   64.3   59.0   5379  6.23  6.28  4.02
169   1.19  Good     E     VS2   57.4   60.0   6937  6.90  7.00  3.99
196   0.90  Good     E     SI1   63.9   57.0   3795  6.12  6.08  3.90
369   0.54  Good     E     SI2   63.8   54.0   1163  5.17  5.18  3.30
390   0.40  Good     E    VVS2   58.5   60.0   1059  4.82  4.86  2.83

In [10]:
sub_test_2 = diamonds_df[(diamonds_df['cut'] == 'Good') & (diamonds_df['color'] == 'F')]

sub_test_2.head()

     carat   cut color clarity  depth  table  price     x     y     z
122   0.52  Good     F     SI2   58.7   64.0   1350  5.24  5.26  3.08
373   0.70  Good     F     SI1   64.3   63.0   2059  5.58  5.55  3.58
376   0.90  Good     F     VS1   63.3   59.0   4508  6.03  6.07  3.83
448   1.01  Good     F     VS1   59.0   62.0   6794  6.56  6.60  3.88
479   0.52  Good     F     SI1   63.6   62.0   1357  5.07  4.96  3.20

In [23]:
test_results_sub1 = ttest_ind(sub_test_1['price'],sub_test_2['price'], equal_var= True )
display(test_results_sub1.statistic)
display(test_results_sub1.pvalue < 0.05)

-0.44021568469654665

False

In [24]:
print(test_results_sub1.statistic)
print(test_results_sub1.pvalue)

-0.44021568469654665
0.6598512677605672

In [ ]:
"""This trial doesn't pass
our hypothesis, so we could reject it"""